.bg-background-clr
{
    background-color: #264653;
}
.nav-link-clr
{
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-primary-btn {
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
  }
